*{
	margin: 0;
	padding: 0;
}
.floatleft{float: left;}
.floatright{float: right;}
body {
 background: url("../images/bg.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
}
.overall_area {
  height: auto;
  margin: 0 auto;
  width: 1170px;
}
.fix{overflow: hidden;}
/*==============header area==============*/
.header_area{
	color: #fff;
	height: 252px;
	margin-top: 50px;
	width: 1200px;
}
.logo {
  height: 135px;
  margin-left: 33px;
  margin-right: 15px;
  width: 115px;
}
}
.header_top{
	width:1200px;
	height:150px;
}
.header_content{
	width: 630px;
	height: auto;
	margin-right: 15px;	
	text-align: center;
}
.header_content h3{
	font-size: 22px;
	font-weight: bold;
	font-family: oxygen;
}
.header_content p{
	color:#FFDE00;
	font-size:20px;
	font-weight:normal;
	font-family:oxygen;
}
.header_content h4{
	font-weight: normal;
	font-size: 20px;
	font-family: oxygen;
}
.header_social{
	width: 400px;
	height: auto;
	margin-right: 15px;	
}
.menu{
	height: 35px;
	padding: 0;
	width: 442px;	
}
/*login and sign up*/
.left_right_content {
  width: 917px;
  display: block;
  margin: 0 auto;
}
.main_content_area {
  height: 329px;
  margin: 0 auto 0 10px;
  width: 880px;
}
.height_left{height: 386px;}
.height_left {
  height: 402px;
}
.social_area {
  float: left;
  margin-left: 60px;
  width: 410px;
}
.sign_up_button {
  background:url(../images/btn.png);
  border: 0 none;
  color: #fff;
  display: block;
  font-family: oxygen;
  font-size: 16px;
  height: 36px;
  margin: 33px auto 0;
  width: 126px;
}
.height_right {
  height: 278px;
}

.signup_form {
  display: block;
  margin: 32px auto;
  overflow: hidden;
  width: 323px;
}
.login_form {
  display: block;
  float: left;
  margin-left: 48px;
  overflow: hidden;
  width: 323px;
}
.remember {
  float: left;
  margin-left: 46px;
  margin-top: 16px;
}
.Remember_check {
  float: left;
  margin-left: 48px;
  margin-top: 10px;
  overflow: hidden;
  font-family: oxygen;
  font-size: 14px;
}

#username {
  float: left;
  height: 31px;
  margin-top: 10px;
  padding-left: 10px;
  width: 310px;
  font-family: oxygen;
}
#name {
  height: 31px;
  margin-bottom: 9px;
  margin-top: 9px;
  width: 146px;
  padding-left: 10px;
}
#agree_check {
  margin-right: 10px;
}
.signup_text{
	overflow:hidden
}
.agree {
  display: block;
  font-family: oxygen;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 13px;
}
.social_login{
	width: 397px;
}
.login_area{
	width: 390px;
	height: 50px;
}
.login_area p{
font-family: oxygen;
font-size: 12px;
padding-left: 43px;
text-transform: uppercase;
}
.footer_area {
  float: left;
  margin-top: 96px;
  overflow: hidden;
  width: 825px;
}
.payment_method {
  width: 604px;
  margin: 32px auto;
}
.payment {
  float: left;
  width: 228px;
}
.info {
  color: #fff;
  float: right;
  font-family: oxygen;
  font-size: 13px;
  font-weight: normal;
}
.info p {
  float: right;
  font-family: oxygen;
  font-size: 12px;
}
.facebook_login p {
  margin-left: 38px;
   font-family: oxygen; 
}
.twitter_login p {
  margin-left: 45px;
  font-family: oxygen;
}
.facebook_login{
	background: url("../images/facebook.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	line-height: 42px;
	width: 190px;
	font-size: 12px;
}
.twitter_login{
	width: 190px;
	background: url(../images/twitter.png);
	line-height: 42px;
	font-size: 13px;	
}


.div_two {
  background: none repeat scroll 0 0 #ddd;
  height: auto;
  margin-bottom: 25px;
  width: 409px;
}
.marginleft {
  margin-left: 50px;
}
/*==============header area end==============*/



/*=====================content area start======================*/





.left_content_one {
  background: none repeat scroll 0 0 #fff;
}

.left_content_one h2{
	background: none repeat scroll 0 0 #000;
	color: #fff;
	font-family: oxygen;
	font-size: 20px;
	font-weight: normal;
	line-height: 39px;
	padding-left: 20px;
	position: relative;
	top: -19px;
	width: 138px;
}
.footer_top img {
  margin-top: 19px;
  width: 780px;
}
.footer_top {
  margin: 0 auto;
  text-align: center;
  width: 900px;
}
.footer_bottom {
  margin-top: 16px;
  text-align: center;
  width: 841px;
  margin-left: 16px;
}
.footer_left{
width: 426px;
}
.footer_right{
width: 411px;
}
.footer_right img{
margin-right: 8px;
}
.foot{
padding: 0;
text-align: center;
width: 447px;
}
.foot ul{
	list-style:none;
	margin:0px;
	padding:0px;
	list-style:none;
}
.foot ul li{float:left;}

.foot ul li a{
color: #fff;
display: block;
font-family: oxygen;
font-size: 12px;
font-weight: normal;
margin-right: 46px;
padding: 5px;
text-decoration: none;
}


/*==============footer end===============*/