*{
	margin: 0;
	padding: 0;
}
.floatleft{float: left;}
.floatright{float: right;}
body {
 background: url("../images/background_bottom.jpg") no-repeat scroll center bottom, url("../images/bg.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
  height: 2022px;
}
.overall_area {
  height: auto;
  margin: 0 auto;
  width: 1170px;
}
.fix{overflow: hidden;}
/*==============header area==============*/
.header_area{
	color: #fff;
	height: 252px;
	margin-top: 50px;
	width: 1200px;
}
.logo{
	width: 115px;
	height: 135px;
	margin-right: 15px;
}
.header_top{
	width:1200px;
	height:150px;
}
.header_content{
	width: 630px;
	height: auto;
	margin-right: 15px;	
	text-align: center;
}
.header_content h3{
	font-size: 22px;
	font-weight: bold;
	font-family: oxygen;
}
.header_content p{
	color:#FFDE00;
	font-size:20px;
	font-weight:normal;
	font-family:oxygen;
}
.header_content h4{
	font-weight: normal;
	font-size: 20px;
	font-family: oxygen;
}
.header_social{
	width: 400px;
	height: auto;
	margin-right: 15px;	
}
.menu{
	height: 35px;
	padding: 0;
	width: 442px;	
}
.menu ul{
	list-style: outside none none;
	margin-left: 64%;
}
.menu ul li{
	float:left;
}
.menu ul li a{
	color: #fff;
	display: block;
	font-family: oxygen;
	font-size: 14px;
	margin-right: 15px;
	padding: 5px;
	text-decoration: none;
	font-weight: normal;
}
.social_login{
	width: 397px;
}
.login_area{
	width: 390px;
	height: 50px;
}
.login_area p{
font-family: oxygen;
font-size: 12px;
padding-left: 43px;
text-transform: uppercase;
}
.facebook_login{
	background: url("../images/facebook.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	line-height: 42px;
	width: 190px;
	font-size: 12px;
}
.twitter_login{
	width: 190px;
	background: url(../images/twitter.png);
	line-height: 42px;
	font-size: 13px;	
}
.social_apps{
	width:390px;
}
.social_apps img{
	width: 125px;
}
.action_logo {
  height: 92px;
  margin: 0 auto;
  width: 884px;
}
.action_logo img {
  width: 728px;
}
/*==============header area end==============*/



/*=====================content area start======================*/
.left_right_content{
height: 1614px;
margin-top: 25px;
width: 1200px;
}
.one_color_bottom {
color: #fff;
display: block;
font-family: oxygen;
font-size: 16px;
font-weight: bold;
overflow: hidden;
width: 100%;
}
.checkbox {
  float: right;
  margin-right: 37px;
  margin-top: -16px;
}
.calculator {
  background: none repeat scroll 0 0 #fff;
  border-radius: 3px;
  height: 227px;
  margin-right: 5px;
  position: fixed;
  width: 63px;
}
.calculator img{
border-radius: 4px;
height: 42px;
margin-left: 5px;
margin-top: 5px;
width: 50px;
}
.calculator span{
font-family: oxygen;
font-size: 11px;
margin-left: 9px;
}
.main_content_area {
  height: 329px;
  margin: 0 auto;
  width: 880px;
  margin-left: 70px;
}
.div_one_two {
  height: 310px;
  margin-left: 2px;
  width: 870px;
}
/*======================div one========================*/
.div_one{
background: none repeat scroll 0 0 #ddd;
height: 304px;
margin-bottom: 25px;
width: 355px;
}
.div_three_content{
	width:50px;
}
.div_three_content img{
margin-left: 9px;
margin-top: 138px;
}
.left_content_one{
background: none repeat scroll 0 0 #fff;
height: 304px;
}
.conetnt_details{
	
}
.add_ticket h4{
font-size: 14px;
width: 354px;
height:35px;
margin-top:20px;
}
#left_align{
	float:left;
}
.total_amount{
	width:353px;
	height:50px;
	background:#fff;
}
.total_amount h3{
	font-size: 20px;
margin-left: 104px;
margin-top: 20px;
}
.total_amount h3 span{
	color:#FF4701;
}
.add_ticket h4 b{
	font-weight:normal;
	color:#FF4701;
}
.add_ticket h4 span{
	margin-left:20px;
}
.add_ticket h4 span img{
height: 13px;
width: 15px;
}
.pre_one h3 {
background: none repeat scroll 0 0 #dddddd;
font-family: oxygen;
font-size: 13px;
font-weight: bold;
height: 27px;
padding-left: 15px;
padding-top: 9px;
width: 393px;
}
.pre_one h3 span {
  font-size: 13px;
  margin-right: 13px;
  opacity: 0.5;
}
.left_content_one h2{
	background: none repeat scroll 0 0 #000;
	color: #fff;
	font-family: oxygen;
	font-size: 20px;
	font-weight: normal;
	line-height: 39px;
	padding-left: 20px;
	position: relative;
	top: -19px;
	width: 138px;
}
.printer_area{
	margin-right: 15px;
	margin-top: 5px;
}
.left_content_one .pre_one{
margin-top: 6px;
}
.left_content_one .pre_two{
	background: none repeat scroll 0 0 #ddd;
	line-height: 44px;	
}
.left_content_one .images_one {
  margin-left: 0px;
}
.link {
  background: none repeat scroll 0 0 #fff;
  height: 60px;
  margin-left: 70px;
}
.link .remove{
background: none repeat scroll 0 0 #ff4701;
color: #fff;
font-family: oxygen;
font-size: 12px;
text-decoration: none;
font-weight: bold;
}
.link a{
	display: block;
	line-height: 34px;
	width: 137px;
	text-align: center;
	float: left;
	margin-right: 3px;
}
.link .trip{
	background: #06A6E2;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-family: oxygen;
font-size: 12px;
}
/*==========================div two=========================*/
.div_two {
background: none repeat scroll 0 0 #ddd;
margin-bottom: 25px;
width: 409px;
height: auto;
}
.div_three{
height: 1452px;
width: 249px;
}
/*===========================logo action start=======================*/

.logo_action {
  margin-top: 44px;
  text-align: center;
  width: 899px;
}
.music_head {
  margin-top: 57px;
  width: 774px;
}
.logo_action_head{
color: #fff;
font-family: oxygen;
font-size: 24px;
margin-left: 231px;
width: 200px;
}
.logo_action_head h2{
float: right;
font-family: oxygen;
font-size: 24px;
font-weight: bold;
text-align: center;
}
.music_image{
	width:200px;
}
.music_image img {
  float: left;
  height: 38px;
  margin-left: 20px;
  width: 44px;
}
.logo_action .img_one{
	bottom: 37px;
	left: 132px;
	position: relative;
}
.logo_action .img_two {
  margin-top: 20px;
  width: 728px;
}

/*===========================logo action end=======================*/

/*================================sideber start=====================================*/
.some_content{
background: none repeat scroll 0 0 #5e9ae3;
height: 534px;
margin-bottom: 11px;
margin-left: 11px;
width: 199px;
}
.sidebar_img{
margin-left: 11px;
width: 199px;
}

.promo_one{
border-bottom: 1px dotted #fff;
color: #fff;

width: 199px;
 }
.promo_one p {
  font-family: oxygen;
  font-size: 14px;
  font-weight: bold;
  padding: 9px;
  width: 172px;
}
 .promo_one button{
background: none repeat scroll 0 0 yellow;
border-radius: 6px;
color: red;
height: 33px;
margin-left: 18px;
margin-top: 13px;
width: 120px;
 }
.border_none{
	border:0px solid #fff;
	color:#000;
 }
.border_no{
border:0px solid #fff;
color:#fff;
} 
.text_color{
color:#000;
}
 .sidebar_img p{
	text-transform:uppercase;
	color:#fff;
	font-size:12px;
 }
#shoe_height{
height: 347px;
 }
#footbal_height{
height: 247px;
 }
#paypal_height{
height: 39px;
}
.promo_one p span{
 	color: #F9D81B;
 }
.sidebar_img img{
height: 162px;
margin-bottom: 16px;
width: 199px;
 }
 .sidebar_footer_top{
 	margin-right: 34px;
width: 131px;
text-align:right;
 }
.double_chance{
	background:#d8d8d8;
 }
 .arrow_right{
	
 }
 #arrow_right h5{
background: none repeat scroll 0 0 red;
margin-top: 12px;
width: 149px;
 }
  .arrow_right h5:after{
	content:url('../images/right_arrow.png');
  }
.sidebar_footer_bottom{
margin-right: 34px;
text-align: right;
width: 216px;
}
 .sidebar_footer_top h2{
color: #fff;
float: left;
font-family: oxygen;
font-size: 18px;
text-align: justify;
font-weight: normal;
 }
.sidebar_footer_top h2 {
  color: #fff;
  float: left;
  font-family: oxygen;
  font-size: 18px;
  font-weight: normal;
  text-align: right;
}
 .sidebar_footer_bottom p{
color: #fff;
float: right;
font-family: arial;
font-size: 10px;
margin-top: 13px;
 }
/*================================sideber end=====================================*/


/*=======================Check_before_main===============================*/
.bind_check_double {
  height: 578px;
  margin-bottom: 40px;
  margin-top: 58px;
  width: 870px;
}
.Check_before_main {
  background: none repeat scroll 0 0 #d8d8d8;
  height: 494px;
  margin-right: 43px;
  width: 412px;
}
.Check_before_main h2 {
  background: none repeat scroll 0 0 #000;
  bottom: 22px;
  color: #fff;
  font-family: oxygen;
  font-size: 20px;
  font-weight: normal;
  line-height: 41px;
  padding-left: 7px;
  position: relative;
  width: 228px;
}
.one {
    background: -webkit-linear-gradient(#108BCF,#0863B6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#108BCF,#0863B6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#108BCF,#0863B6); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#108BCF,#0863B6); /* Standard syntax (must be last) */
height: 90px;
position: relative;
width: 412px;
}
#star {
  position: absolute;
  right: -10px;
}
.one_color {
  color: #fff;
}
.two_color{
	color:#000;
}
.two_color h4 span input{
	background:#0864B7;
}
.one p,.one b,.one img{
font-family: oxygen;
font-size: 14px;
font-weight: bold;
margin-left: 5px;
padding-bottom: 6px;
padding-top: 5px;
}
.one p span{
font-size: 14px;
font-weight: bold;
margin-left: 15px;
padding-bottom: 6px;
padding-top: 5px;
font-family: oxygen;
}
.right_arrow{
	
}
.one h4 {
font-family: oxygen;
font-size: 14px;
font-weight: bold;
padding-left: 5px;
width: 380px;
margin-left: 7px;
}
.one h4:after{
	/*content:url('images/right_arrow.png');
	*/
}
.one h4 span {
  font-family: oxygen;
  font-size: 13px;
  line-height: 27px;
  margin-left: 33px;
  font-weight: bold;
}
.one h4 span input{
float: right;
margin-right: 12px;
}
.margin_left_icon{
	
}
.one p{
	font-weight: bold;
padding-left: 6px;
}
.one .right_arrow:after{content: url(../images/right_arrow.png);}
.one b {
  line-height: 30px;
}
#second{
    background: -webkit-linear-gradient#828282,#868686); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#828282,#868686); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#828282,#868686); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#828282,#868686); /* Standard syntax (must be last) */
height: 95px;
}
.one img{
border-radius: 23px;
float: right;
width: 36px;
}
.follow_button {
background: none repeat scroll 0 0 #d8d8d8;
color: #000;
font-size: 12px;
margin-left: 13px;
padding: 4px 7px;
}
.archive_button {
background: none repeat scroll 0 0 #00a8e6;
color: #000;
font-size: 12px;
margin-left: 12px;
padding: 4px 7px;
}
#football {
float: left;
height: 20px;
margin-left: 10px;
margin-right: 43px;
width: 20px;
}
.black{
color:#0c0c0c;
}
.white {
color: #fff;
font-family: oxygen;
font-size: 17px;
font-weight: bold;
}
.one pre{
	float: right;
	font-weight: bold;
	margin-right: 15px;
}
.live_bet{
background:#fff;
color:#000;
}
.live_bet h1 {
  color: #d84e2b;
  font-family: oxygen;
  font-size: 27px;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  width: 153px;
}
.live_bet p {
  color: #d84e2b;
  font-family: oxygen;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.live_bet_total{
	background:#fff;
	color:#000;
}
.live_bet_total h1{
background: url("../images/fill.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 27px;
margin-left: 15px;
padding-top: 28px;
width: 358px;
}
.live_bet_total p{
font-family: oxygen;
font-size: 17px;
font-weight: bold;
margin-left: 90px;
}
.live_bet_total p span{
color: #d84e2b;
font-size: 17px;
margin-right: 20px;
}
.double_marge p{
background: url("../images/fill.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 9px;
margin-left: 0;
width: 125px;
}
.double_marge3 p{
background: url("../images/fill.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 9px;
margin-left: 0;
width: 125px;
}
.double_marge h3 {
background: url("../images/fill.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 26px;
margin-left: 0;
margin-top: 6px;
width: 246px;
}
.double_marge3 h3 {
background: url("../images/fill.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 26px;
margin-left: 0;
margin-top: 6px;
width: 275px;
}
.double_marge input {
  float: right;
  margin-top: -17px;
  margin-right: 37px;
}
.double_marge span{
	width:30px;
}
.double_marge span:after{
	/* content:url('images/right_arrow.png');
	*/
}
.fill_out{
height: 21px;
margin-bottom: 11px;
width: 320px;
}
.fill_out h3{
background: url("../images/fill.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 21px;
margin-left: 20px;
width: 371px;
margin-top: 5px;
}
#tips{
margin-top:7px;
}
#tips p{
margin-top: 23px;
}
#background_color{
background:#D8D8D8;
}
#margin_left {
  margin-left: 156px;
}
.change_double_area {
background: none repeat scroll 0 0 #e8e8e8;
height: 346px;
margin-top: 48px;
width: 870px;
}
.change_double_area h2 {
  background: none repeat scroll 0 0 #000;
  color: #fff;
  font-size: 20px;
  line-height: 38px;
  padding-left: 24px;
  width: 219px;
  position: relative;
}
.change_double_area h2 span:after{
	/*content:url('images/star.gif');
	width:37px;
	height:34px;
	*/
}
.change_double {
  background: none repeat scroll 0 0 #fff;
  height: 200px;
  margin-left: 25px;
  margin-top: 20px;
  width: 256px;
}
.change_double p{
	text-align:center;
	font-size:13px;
	font-weight:bold;
	font-family:oxygen;
	padding-top:7px;
}
.change_double h3{
	text-align:center;
	font-size:15px;
	font-weight:bold;
	font-family:oxygen;
	padding-top:7px;
	text-transform:uppercase;
}
.change_double h4{
	font-size:14px;
	text-align:center;
	padding-top:5px;
}
.change_double h4 span{
color: #9fddf4;
font-size: 17px;
margin-left: 3px;
}
.change_double table,.change_double table tr{
	border:0px solid #fff;
}
.change_double table{
height: 68px;
margin: 0 auto;
width: 166px;
padding: 5px;
}
.change_double table tr{
	width:200px;
	height:15px;
	padding-top:5px;
}
.change_double_area h2 span img{
border-radius: 36px;
height: 34px;
margin-left: 3px;
width: 34px;
}
.double_marge span img{
float: left;
margin-left: -14px;
margin-top: -15px;
z-index: 100;
}
.double_marge3 span img{
float: left;
margin-left: -14px;
margin-top: -15px;
z-index: 100;
}
.change_double table tr td{
margin-right:10px;
font-size:14px;
font-weight:bold;
font-family:oxygen;
}
#table_content{
background: none repeat scroll 0 0 #333;
color: #fff;
font-family: oxygen;
font-size: 16px;
font-weight: bold;
height: 25px;
margin: 0 auto;
width: 41px;
}
.streams_area{
background:#FE4701;
border-radius: 3px;
color: #fff;
height: 30px;
margin-left: 374px;
margin-top: 241px;
width: 101px;
}
.streams_area p{
font-family: oxygen;
font-size: 12px;
font-weight: bold;
padding-top: 7px;
text-align: center;
text-transform: uppercase;
}
/*=========================*/
.two{
	width: 430px;
	height: 100px;
	background: #828282;
}
.two p{
	font-weight: bold;
}
.two .right_arrow:after{content: url(../images/right_arrow.png);}
.two b{
line-height: 30px;
margin-left: 20px;
}
.two img{
	border-radius: 19px;
	float: right;
}
.two pre span{
	font-size: 20px;
	background: #0CA5DC;
	color: #000;
}
.two pre b{
	color: #000;
}
.two p{
	font-weight: bold;
}
.two .right_arrow:after{content: url(../images/right_arrow.png);}
.two b{
	line-height: 35px;
}
.two img{
	float: left;
}

/*=====================================*/
.double_chance_area{
width: 825px;
border:2px solid red;
height:500px;
}
.double_chance h2 {
background: none repeat scroll 0 0 #000;
bottom: 22px;
color: #fff;
font-family: oxygen;
font-size: 20px;
font-weight: normal;
line-height: 41px;
padding-left: 5px;
position: relative;
width: 370px;
}
.search {
  height: 50px;
  width: 410px;
}
.search h3{
color: #000;
float: left;
font-size: 18px;
padding-left: 10px;
}
.search input[type] {
  height: 22px;
  line-height: 25px;
  margin-left: 156px;
  width: 146px;
}
.search button{
background: none repeat scroll 0 0 #000;
color: #fff;
font-size: 14px;
height: 27px;
text-transform: uppercase;
width: 47px;
}
/*====================================================*/



table,tr,td{
	border: 1px solid #828282;
	text-align: center;
	width: 235px;
	margin-left: 26px;
}
.floatleft{
	float: left;
}

.double_chance_two{
	margin-right:15px
}
.double_chance_one{
	margin-right:15px
}
.double_chance_two,.double_chance_one,.double_chance_three{
	background: none repeat scroll 0 0 #fff;
	height: 190px;
	width: 286px;
	margin-left: 8px;

}
.double_chance_one p{
	
}
.gre{
	color:#21ABE0;
}
b{
	color:#949494;
}
.odd_one{margin-left:74px}
.one_1{margin-left:103px;}
.double_chance_two h2,.double_chance_one h2,.double_chance_three h2{
	background: none repeat scroll 0 0 #000;
	color: #fff;
	line-height: 20px;
	margin-left: 126px;
	width: 35px;
	text-align: center;
	margin-top: 25px;
}
.rial{
	color: black;
	font-size: 13px;
	text-align: center;

}
/*========footer area==========*/
.footer_area{
margin-top: 13px;
width: 825px;
}
.footer_top img {
  margin-top: 19px;
  width: 780px;
}
.footer_top {
  margin: 0 auto;
  text-align: center;
  width: 900px;
}
.footer_bottom {
  margin-top: 16px;
  text-align: center;
  width: 841px;
  margin-left: 16px;
}
.footer_left{
width: 426px;
}
.footer_right{
width: 411px;
}
.footer_right img{
margin-right: 8px;
}
.foot{
padding: 0;
text-align: center;
width: 447px;
}
.foot ul{
	list-style:none;
	margin:0px;
	padding:0px;
	list-style:none;
}
.foot ul li{float:left;}

.foot ul li a{
color: #fff;
display: block;
font-family: oxygen;
font-size: 12px;
font-weight: normal;
margin-right: 46px;
padding: 5px;
text-decoration: none;
}


/*==============footer end===============*/
.w_197{
width:197px !important;
}
.fl{
float:left !important;
}
.padding_b_6{
padding-bottom:6px !important;
}
.padding_t_6{
padding-top:6px !important;
}
.w_h_auto{
width:auto !important;
height:auto !important;
}
.h_auto{
height:auto !important;
}
.w_36{
width:36px !important;
}
.margin_l_0{
margin-left:0px !important;
}
.w_263{
width:263px !important;
}
.margin_t_4{
margin-top:4px !important;
}
.margin_l_39{
margin-left:39px !important;
}
.w_251{
width:251px !important;
}
.margin_r_5px{
margin-right:5px !important;
}	